body{
    width:970px;
    background:rgb(215,215,255);
    max-width:95%;
    margin:20px 25%;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}

section{
    background:rgb(150,150,250);
    padding:10px 100px;
    margin-top:10px;
}
section h2 {
    text-align:center;
    color:rgb(0,50,250);
}
section p{
    color:rgb(5, 21, 51);
}